<head>
  <br>
  <br>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    hr.style {
    	background-color: #fff;
    	border-top: 2px dashed #8c8b8b;
    }

    hr.style2 {
    	background-color: #f7f7f7;
    }

    img.csb {
      height:10px;
    }
  </style>
</head>
<body>

  <div class="container text-center csb">
    <img src="https://i.ibb.co/BN7M0W3/Whats-App-Image-2019-09-16-at-11-30-13-AM.jpg" class="img-responsive" alt="Responsive image" border="0">
    <h2>Time & Attendance System</h2>
    <button type="button" class="btn btn-warning" onclick="home()">Home</button>
  </div>
  <div class="container">
    <hr class="style"/>
  </div>

  <div class="container">
    <div class="container">
      <div class="row text-center">
        <div class="col-sm">
            Organization: <input type="text" name="x">
        </div>

        <div class="col-sm">
            Department: <select name="Department" id="department_filter" onchange="department_selector()" >
                          <option value="all">All</option>
                          {% for dept in department %}
                          <option value="{{ dept.department }}">{{ dept.department }}</option>
                          {% endfor %}
                        </select>
        </div>

        <div class="col-sm">
            <b>Current Date : {{ date_tag.date }}</b>
        </div>

      </div>
<hr class="style2"/>
    </div>

  <div class="container">
    <div class="row">


   <div class="col-sm text-center">
    <form action="/time_attendance/btnAction/">
      <div class="row text-center">
        Choose date to query :


      </div>

      <div class="row">
        <div class="col-sm text-right">
            From :
        </div>
        <div class="col-sm">
          <input type="date" name="date" id="date_input" value="{{ date_tag.date }}">
        </div>
      </div>

      <div class="row">
        <div class="col-sm text-right">
          To :
        </div>

        <div class="col-sm">
          <input type="date" name="date2" id="date_input2" value="{{ date_tag2.date_to }}">
         </div>
      </div>
    <input type="submit" >
    </form>

    <sup><font color = "red"><i>Click submit after changin the date.</i></font></sup>
    </div>




 <div class="col-sm text-center">

    Minimum Hours Worked :
    <input type="number" name="quantity" min="1" max="12" id="hour_input" value=8 onchange="myFunction()">



    </div>


  <div class="col-sm text-center">

    <div class="row">
      <div class="col-sm   text-right">
        <label>Shift Start Time:</label>
      </div>

      <div class="col-sm   text-left">
        <input type="time" name="usr_time" id="time_input" value="08:00" onchange="checkTime()">
      </div>

    </div>

    <div class="row">

      <div class="col-sm   text-right">
        <label>Shift End Time:</label>
      </div>

      <div class="col-sm   text-left">
        <input type="time" name="usr_time" id="time_input2" value="17:00" onchange="checkTime2()">
      </div>

    </div>



  </div>

  <div class="col-sm text-center">
    Employee name :
    <br>
        <select name="Employee" id="name_filter" onchange="name_selector()" >
          <option value="all">All</option>
          {% for dat in all_emp %}
          <option value="{{ dat.name }}">{{ dat.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <hr class="style2"/>


    <div class="row">
      <div class="col-sm text-center">
        <h5>Listing Period : <b><i><font color="red">{{ date_tag.date }}</font></i></b> To <b><i><font color="red">{{ date_tag2.date_to }}</font></i></b></h5>
      </div>
    </div>

<hr class="style2"/>
    </div>

    <div class="row">
      <div class="col-sm">  </div>
      <div class="col-sm text-center">
        <button type="button" id="reset_btn" onclick="myFunction2()" class="btn btn-dark">Reset</button>
        <button type="button" id="show_btn" onclick="printDiv()" class="btn btn-dark">Print</button>
      </div>
      <div class="col-sm">  </div>

    </div>
    </div>
    <div class="container">
    <hr class="style"/>
    </div>

    <div class="container">

    {% for date_temp in date_range %}
      <h4 class="bg-secondary"><font color=#ffffff>&nbsp;{{ date_temp.date }}</font></h4>
      <div class="container text-center" name="no_entry">
        <h5>No Entry<h5>
      </div>
      <table class="table " id="timeTable">
        <thead>
          <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Name</th>
            <th scope="col">Department</th>
            <th scope="col">Branch</th>
            <th scope="col">Enter Time</th>
            <th scope="col">Enter Location</th>
            <th scope="col">Exit Time</th>
            <th scope="col">Exit Location</th>
            <th scope="col">Working Hours</th>
            <th scope="col">Lateness<br>(Hour:Minuite)</th>
            <th scope="col">Overtime<br>(Hour:Minuite)</th>
          </tr>
        </thead>
        <tbody>
          {% for dat in data %}
            {% if date_temp.date == dat.date %}
              <tr>
                <td>{{ dat.employee_id }}</td>
                <td>{{ dat.name }}</td>
                <td>{{ dat.department }}</td>
                <td>{{ dat.branch }}</td>
                <td>{{ dat.capture_time_earliest }}</td>
                <td>{{ dat.capture_location_earliest }}</td>
                <td>{{ dat.capture_time_latest }}</td>
                <td>{{ dat.capture_location_latest }}</td>
                <td>{{ dat.working_hours }}</td>
                <td>-</td>
                <td>-</td>
              </tr>
            {% endif %}
          {% endfor %}
      </tbody>
    </table>
    {% endfor %}

    <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
  </div>

<script>
function myFunction(){

  tables = document.getElementsByClassName("table");
  input = document.getElementById("hour_input");

  var i;
  var s;

  for(s=0 ; s<tables.length ;s++){

    table = tables[s];
    number_of_rows = table.getElementsByTagName("tr").length;

    for (i = 0; i < number_of_rows-1 ; i++) {
      table.rows[i+1].cells[8].style.color = "";
      table.rows[i+1].cells[8].style.fontWeight = "";
    }

    for (i = 0; i < number_of_rows-1 ; i++) {
      temp_hours_worked = table.rows[i+1].cells[8].innerHTML;
      temp_hours_worked = temp_hours_worked.replace(':','');
      temp_hours_worked = temp_hours_worked.replace(':','');

      if(temp_hours_worked < (input.value * 10000)){
        table.rows[i+1].cells[8].style.color = "red";
        table.rows[i+1].cells[8].style.fontWeight = "900";
      }

    }
  }
}

function myFunction2(){
  tables = document.getElementsByClassName("table");
  input = document.getElementById("hour_input");


  var i;
  var s;
  for(s=0; s<tables.length;s++){

    table = tables[s];
    number_of_rows = table.getElementsByTagName("tr").length;

    for (i = 0; i < number_of_rows-1 ; i++) {
      table.rows[i+1].cells[7].style.color = "";
      table.rows[i+1].cells[7].style.fontWeight = "";

      table.rows[i+1].cells[3].style.color = "";
      table.rows[i+1].cells[3].style.fontWeight = "";

      table.rows[i+1].style.display = '';

      table.rows[i+1].cells[8].innerHTML = "-";
      table.rows[i+1].cells[8].style.fontWeight = "";
      table.rows[i+1].cells[8].style.color = "";
    }
  }
  location.reload();
}

function checkTime(){
  time_input = document.getElementById("time_input")
  tables = document.getElementsByClassName("table");


  var i;
  var s;
  for(s=0; s<tables.length;s++){

    table = tables[s];
    number_of_rows = table.getElementsByTagName("tr").length;

    for (i = 0; i < number_of_rows-1 ; i++) {
        table.rows[i+1].cells[4].style.color = "";
        table.rows[i+1].cells[4].style.fontWeight = "";
        table.rows[i+1].cells[9].innerHTML = "-";
        table.rows[i+1].cells[9].style.fontWeight = "";
        table.rows[i+1].cells[9].style.color = "";
      }


    for (i = 0; i < number_of_rows-1 ; i++) {
      temp_enter_time = table.rows[i+1].cells[4].innerHTML;
      temp_enter_time = temp_enter_time.substring(11, 16);


      if(temp_enter_time > time_input.value){
        table.rows[i+1].cells[4].style.color = "red";
        table.rows[i+1].cells[4].style.fontWeight = "900";



        d1 = Date.parse(table.rows[i+1].cells[4].innerHTML);
        d1 = new Date(d1);
        d2 = Date.parse(table.rows[i+1].cells[4].innerHTML);
        d2 = new Date(d2);
        d2.setHours(time_input.value.substring(0,2));
        d2.setMinutes(time_input.value.substring(3,5));

        d3 = d1-d2;

        console.log(d3);

        table.rows[i+1].cells[9].innerHTML = msToTime(d3)

        table.rows[i+1].cells[9].style.fontWeight = "900";
        table.rows[i+1].cells[9].style.color = "red";
      }
    }
  }
}

function msToTime(duration) {
    var milliseconds = parseInt((duration%1000)/100)
        , seconds = parseInt((duration/1000)%60)
        , minutes = parseInt((duration/(1000*60))%60)
        , hours = parseInt((duration/(1000*60*60))%24);

    hours = (hours < 10) ? "0" + hours : hours;
    minutes = (minutes < 10) ? "0" + minutes : minutes;
    seconds = (seconds < 10) ? "0" + seconds : seconds;

    //return hours + ":" + minutes + ":" + seconds + "." + milliseconds;
    return hours + ":" + minutes;
}

function printDiv(){
  window.print()
}

function date_value(){

  table = document.getElementById("timeTable");
  temp_enter_time2 = table.rows[1].cells[3].innerHTML;
  temp_enter_time2 = temp_enter_time2.substring(0, 10);


  var today = new Date();
  var dd = String(today.getDate()).padStart(2, '0');
  var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
  var yyyy = today.getFullYear();


  console.log(temp_enter_time2)
  today = temp_enter_time2

  date_input = document.getElementById("date_input")

  date_input.value = today
}

function name_selector(){

  var arr = [];

  filter_value = document.getElementById("name_filter")
  tables = document.getElementsByClassName("table");
  no_entry_tag = document.getElementsByName("no_entry")

  var x;
  var s;
  var i;
  var j = 0;
  for(s=0 ; s < tables.length ; s++){

    table = tables[s]
    number_of_rows = table.getElementsByTagName("tr").length;
    x=1;

    for (i = 0; i < number_of_rows-1 ; i++) {
      table.rows[i+1].style.display = '';
    }

    for (i = 0; i < number_of_rows-1 ; i++) {

      temp_name = table.rows[i+1].cells[1].innerHTML;
      selector_name = filter_value.value;

      if(temp_name == selector_name){
        arr[j] = i+1;
        j++;
        continue;
      }
      else if(selector_name == "all"){
        table.rows[i+1].style.display = '';
        table.style.display = '';
        no_entry_tag[s].style.display = 'none'
      }
      else{
        x++;
        table.rows[i+1].style.display = 'none';
      }
    }
    if(x == number_of_rows){
      table.style.display = 'none';
      no_entry_tag[s].style.display = ''
    }
  }
}

function table_check(){

  tables = document.getElementsByClassName("table")
  no_entry_tag = document.getElementsByName("no_entry")

var i;
  for( i = 0 ; i < tables.length ; i++){

    number_of_rows = tables[i].getElementsByTagName("tr").length;
    no_entry_tag[i].style.display = 'none'

    if(number_of_rows < 2){
      tables[i].style.display = 'none';
      no_entry_tag[i].style.display = ''
    }

  }
}

function checkTime2(){
  time_input = document.getElementById("time_input2")
  tables = document.getElementsByClassName("table");


  var i;
  var s;
  for(s=0; s<tables.length;s++){

    table = tables[s];
    number_of_rows = table.getElementsByTagName("tr").length;

    for (i = 0; i < number_of_rows-1 ; i++) {
        table.rows[i+1].cells[6].style.color = "";
        table.rows[i+1].cells[6].style.fontWeight = "";
        table.rows[i+1].cells[10].innerHTML = "-";
        table.rows[i+1].cells[10].style.fontWeight = "";
        table.rows[i+1].cells[10].style.color = "";
      }


    for (i = 0; i < number_of_rows-1 ; i++) {
      temp_enter_time = table.rows[i+1].cells[6].innerHTML;
      temp_enter_time = temp_enter_time.substring(11, 16);

      if(temp_enter_time > time_input.value){
        console.log(time_input.value)
        table.rows[i+1].cells[6].style.color = "green";
        table.rows[i+1].cells[6].style.fontWeight = "900";



        d1 = Date.parse(table.rows[i+1].cells[6].innerHTML);
        d1 = new Date(d1);
        d2 = Date.parse(table.rows[i+1].cells[6].innerHTML);
        d2 = new Date(d2);
        d2.setHours(time_input.value.substring(0,2));
        d2.setMinutes(time_input.value.substring(3,5));

        d3 = d1-d2;

        console.log(d3);

        table.rows[i+1].cells[10].innerHTML = msToTime(d3)

        table.rows[i+1].cells[10].style.fontWeight = "900";
        table.rows[i+1].cells[10].style.color = "green";
      }
    }
  }
}

function department_selector(){

  var arr = [];

  filter_value = document.getElementById("department_filter")
  tables = document.getElementsByClassName("table");
  no_entry_tag = document.getElementsByName("no_entry")

  var x;
  var s;
  var i;
  var j = 0;
  for(s=0 ; s < tables.length ; s++){

    table = tables[s]
    number_of_rows = table.getElementsByTagName("tr").length;
    x=1;

    for (i = 0; i < number_of_rows-1 ; i++) {
      table.rows[i+1].style.display = '';
    }

    for (i = 0; i < number_of_rows-1 ; i++) {

      temp_name = table.rows[i+1].cells[2].innerHTML;
      selector_name = filter_value.value;

      if(temp_name == selector_name){
        arr[j] = i+1;
        j++;
        continue;
      }
      else if(selector_name == "all"){
        table.rows[i+1].style.display = '';
        table.style.display = '';
        no_entry_tag[s].style.display = 'none'
      }
      else{
        x++;
        table.rows[i+1].style.display = 'none';
      }
    }
    if(x == number_of_rows){
      table.style.display = 'none';
      no_entry_tag[s].style.display = ''
    }
  }
}

window.onload = table_check;
</script>
<script>
    function home() {
      location.replace("/administrator")
    }
  </script>
</body>
<br>
<!-- Footer -->
<footer class="page-footer">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-1">© 2019 Copyright:
    <a href="https://www.camartcctv.com"> camartcctv.com</a>
  </div>
  <!-- Copyright -->

</footer>
