<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Masatrek Admin Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <br>
  <div class="conainer">

    <div class="row text-center">
      <div class="col-sm"></div>
      <div class="col-sm">
        <img src="https://i.ibb.co/BN7M0W3/Whats-App-Image-2019-09-16-at-11-30-13-AM.jpg" class="img-responsive" height="70"  alt="cbs" border="0">
      </div>
      <div class="col-sm"></div>
    </div>

    <hr>

    <div class="row text-center">
      <div class="col-sm">
        <h3>Welcome {{ user.get_username }}</h3>
      </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm"></div>
        {% if request.user.is_superuser %}
        <div class="col-sm text-right"><button type="button" class="btn btn-block btn-primary" onclick="window.location.href='/administrator/registration'">Register User</button></div>
        {% else %}
        <div class="col-sm text-right"><button type="button" class="btn btn-block btn-secondary" disabled>Register User</button></div>
        {% endif %}
        <div class="col-sm text-center"><button type="button" class="btn btn-block btn-primary" onclick="window.location.href='/time_attendance/btnAction'">Time Attendance</button></div>
        {% if request.user.is_superuser %}
        <div class="col-sm text-left"><button type="button" class="btn btn-block btn-primary">Add Device</button></div>
        {% else %}
        <div class="col-sm text-left"><button type="button" class="btn btn-block btn-secondary" disabled>Add Device</button></div>
        {% endif %}


        <div class="col-sm"></div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm"></div>

      <div class="col-sm text-right">

        {% if request.user.is_superuser %}
        <button type="button" class=" btn btn-block btn-danger" onclick="window.location.href='/administrator/Sync'"">Sync</button>
        {% else %}
        <button type="button" class="btn btn-block btn-danger" onclick="window.location.href='/administrator/Sync'"" disabled>Sync</button>
        {% endif %}

      </div>

      <div class="col-sm text-center">
        <button type="button" class="btn btn-block btn-primary" onclick="window.location.href='/logout'"">Logout</button>
      </div>

      <div class="col-sm">
        <button type="button" class="btn btn-block btn-primary" onclick="window.location.href='/administrator/employee_add'"">Add->UsrDatabase</button>
      </div>

      <div class="col-sm"></div>

    </div>

  </div>
</body>
