<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>User Registration</title>
</head>

<body>

  <div class="container">
    <div class="row pt-3">

      <div class="col-sm"></div>

      <div class="col-6 bg-light rounded border shadow">
        <br>
        {% if messages %}
           {% for message in messages %}
           <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
           {% endfor %}
        {% endif %}

        <div class="text-center pt-3">
          <img src="https://i.ibb.co/BN7M0W3/Whats-App-Image-2019-09-16-at-11-30-13-AM.jpg" class="img-responsive" height="50">
          <h5>Enter New User Credentials</h5>
          <button type="button" class="btn btn-warning" onclick="home()">Home</button>
        </div>

        <form class="p-3" method="POST" action="/administrator/employee_add/">
          {% csrf_token %}
          <div class="form-group">
            Name :
            <input class="form-control" placeholder="Username" name="Name" value= "{{ Name }}">
          </div>

          <div class="form-group">
            Employee ID :
            <input class="form-control" placeholder="Employee_ID" name="Employee_ID" value= "{{ Employee_ID }}">
          </div>

          <div class="form-group">
            Gender :
            <select class="form-control" name="Employee" id="name_filter" onchange="name_selector()" value="{{ Employee }}" >
              <option value="0">Male</option>
              <option value="1">Female</option>
            </select>
          </div>

          <div class="form-group">
            Department :
            <input class="form-control" placeholder="Department" name="Department" value= "{{ Department }}">
          </div>

          <div class="form-group">
            Branch :
            <input class="form-control" placeholder="Branch" name="Branch" value= "{{ Branch }}">
          </div>

          <div class="form-group">
            <div class="container text-left">
              <div class="row text-left">
                <div class="col-4 text-left">
                  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Choose Image</button>
                </div>
                <div class="col-7 text-left">
                  <input class="form-control" placeholder="img_name" name="img_name" value="{{ img_name }}" id="img_name" readonly>
                </div>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>

        </form>
      </div>

      <div class="col-sm"></div>

    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select image to register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% for img in image %}
        <div class="container border">
          <div class="row">
            <div class="col-sm">
              <img class="shadow rounded img-thumbnail" width="142" height="157" src="{% static img.name %}" alt="myimg">
            </div>
            <div class="col-sm">
              <label>{{img.name}}</label>
              <button type="button" class="btn btn-primary" id="{{img.name}}" onclick="image(this)" data-dismiss="modal">Select</button>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

  <script>
    function home() {
      location.replace("/administrator")
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>

    function image(btn){
      img_name_label = document.getElementById("img_name");
      img_name_label.value = btn.id;
    }

  </script>

</body>
</html>
