<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>User Registration</title>
</head>

<body>

  <div class="container">
    <div class="row pt-3">

      <div class="col-sm"></div>

      <div class="col-6 bg-light rounded border shadow">
        <br>
        {% if messages %}
           {% for message in messages %}
           <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
           {% endfor %}
        {% endif %}

        <div class="text-center pt-3">
          <img src="https://i.ibb.co/BN7M0W3/Whats-App-Image-2019-09-16-at-11-30-13-AM.jpg" class="img-responsive" height="50">
          <h5>Enter New User Credentials</h5>
          <button type="button" class="btn btn-warning" onclick="home()">Home</button>
        </div>

        <form class="p-3" method="POST" action="/administrator/registration/">
          {% csrf_token %}
          <div class="form-group">
            Username :
            <input class="form-control" placeholder="Username" name="username" value= "{{ username }}">
          </div>

          <div class="form-group">
            Email address :
            <input class="form-control" aria-describedby="emailHelp" placeholder="Enter email" name="email" value="{{ email }}">
          </div>

          <div class="form-group">
            Password :
            <input type="password" class="form-control" placeholder="Password" name="password" value="{{ password }}">
          </div>

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="is_superuser" value="on">
            <label class="form-check-label" for="exampleCheck1">Administrator</label>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>

        </form>
      </div>

      <div class="col-sm"></div>

    </div>
  </div>

  <script>
    function home() {
      location.replace("/administrator")
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
